.title{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 0 30px;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.title::before{
    content: '';
    position: absolute;
    background: #4e93e6;
    width: 55px;
    height: 1px;
    margin: 30px auto;
    bottom: -47px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.title div {
    margin: 0;

}
