.remoteBlock{
    min-height: 20vh;
    background-color: #e3adc5;
}

.remoteContainer{
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #c0489a;
}

.title{
    background-color: #c05959;
}

.link{
    text-decoration: none;
    color: #282c34;
    font-weight: bolder;
    background-color: #81817a;
    padding: 10px;
    border-radius: 10px;

}