@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.remoteBlock {
  min-height: 20vh;
  background-color: $bgColor2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .remoteContainer {
    flex-direction: column;
    border: 1px solid #c0489a;

    .link {
      text-decoration: none;
      color: $textColor;
      font-weight: bolder;
      padding: 10px;
      background-color: transparent;
      transition: background-color 0.3s;
      border-radius: 10px;
    }

    .link:hover {
      background-color: $primaryColor;


    }
  }
}



