.workBlock{
    min-height: 100vh;
    background-color: #96d967;
}

.workContainer{
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #67a5c0;
}

.title{
    background-color: #67a5c0;
}

.works{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}