@import "src/common/styles/sass/variables";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgColor2;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column-reverse;
  justify-content: space-around;



  .skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ff1d1d;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: $textColor;

    }
  }
}


@media screen and (max-width: 625px) {
  .skills {
    justify-content: center;
  }
}

