.mainBlock{
    height: 100vh;
    background-color: lightseagreen;
}

.text{
    width: 300px;
    background-color: #c7c6c6;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: #c7c6c6;}