@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerBlock{
    min-height: 15vh;
    background-color: $bgColor2;
    display: flex;
    align-items: flex-end;
}
.footerContainer{
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #c0489a;
    @include text($TextFontFamily, 12px, 1.2);

}

.iconStyle{
    display: flex;
    border: 1px solid;
    margin: 10px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

.icon{
    height: 40px;
    width: 40px;
    background-color: #5c8d91;
    margin: 3px;
}
